.root {
    -fx-base: #f4f4f4;
    -fx-background: #ffffff;
    -fx-control-inner-background: white;
    -fx-text-fill: #333333;
}

.list-cell {
    -fx-background-color: white;
    -fx-text-fill: #333333;
}

.list-cell:filled:selected {
    -fx-background-color: #e0e0e0;
}